html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html * {
    font-family: Lobster, cursive;
    text-align: center;
}

body > div {
    margin-bottom: 50px;
}

a {
    text-decoration: none;
}

img {
    max-width: 80%;
    margin: 20px;
}

.banner {
    height: 150px;
    background-color: #424141;
    font-size: 55px;
    color: white;
    text-align: center;
}

.banner_name {
    font-size: 50px;
    padding-top: 15px;
}

.banner_title {
    font-size: 35px;
}

ul {
    list-style: none;
}

.nav ul {
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: #292928;
}

.nav li {
    display: inline;
    font-size: 2em;
    padding-left: 20px;
    padding-right: 20px;
}

.nav a {
    color: white;
    text-decoration: none;
}

.active_menu {
    background-color: white;
}

.active_menu a {
    color: black;
}


.page {
    width: 50%;
    margin: 30px auto;
}

#emoji {
    margin-bottom: 20px;
}

.page h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
}

.project_heading {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}

.project_description {
    margin-bottom: 30px;
}

.links a {
    margin-right: 5px;
    border-radius: 25px;
    border: solid;
    padding: 10px;
    border-color: black;
    background-color: gray;
    color: white;
}

.project {
    margin-bottom: 40px;
}

.contact_page {
    margin-top: 20px;
}

.contact_page img {
    display: inline;
    max-width: 48px;
    max-height: 48px;
    margin: 20px 20px;
}

#gmail_img {
    margin: 0 10px 0 0;
}

.email_section {
    display: inline;
}

#email_address {
    position: relative;
    bottom: 40px;
    font-size: 20px;
    margin-top: 0px;
    width: 220px;
    border: none;
}

.copy {
    position: relative;
    bottom: 42px;
}

#copy_message {
    font-size: 12px;
    visibility: hidden;
}

#copy_button {
    margin-left: 10px;
    height: 25px;
    width: 55px;
    border-color: black;
    background-color: #eeeeee;
    border-style: solid;
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbb;
    border-radius: 3px;
    color: #333;
    font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    padding: 8px 0;
    text-align: center;
    text-shadow: 0 1px 0 #eee;
    outline: none;
}

#copy_button:hover {
    background-color: #bfbfbf;
}

#copy_button:active {
    bottom: 37px;
}